<div>
  <div class="cta-component_bg">
    <div class="cta-component">
      <div class="cta-component_illo">
        <img data-src="./images/uxagustina-illo.png" alt="Illustration picturing a Agustina Feijoo working in her office." class="lazyload">
      </div>
      <div class="cta-component_copy">
        <h2>Let's talk</h2>
        <p>I always love hearing from other professionals, if you want to connect or talk about work, I’m always a message away!</p>
        <a href="mailto:uxagustina@gmail.com?subject=Contact from website" class="button-primary">Email me</a>
      </div>
    </div>
  </div>
</div>

<style>
  .cta-component_bg {
    background-color: var(--color-light-grey);
    border-radius: 0.5rem;
    padding: 3rem 10rem;
    margin-bottom: 6rem;
    width: 100%;
  }

  .cta-component {
    display: flex;
    justify-content: space-around;
  }

  .cta-component_illo {
    padding-right: 3rem;
  }

  .cta-component img {
    max-width: 18.5rem;
    align-self: center;
    width: 100%;
    height: auto;
  }

  .cta-component_copy {
    max-width: 45rem;
  }

  .cta-component_copy p {
    margin-bottom: 4rem;
  }

  {{!-- Responsive --}}

  @media screen and (max-width:1400px) {
    .cta-component_bg {
      padding: 3rem 5rem;
   }
  }

  @media screen and (max-width:1300px) {
   .cta-component_copy {
     max-width: 30rem;
  }

  @media screen and (max-width:1000px) {
    .cta-component_bg {
      padding: 3rem 2rem;
   }

    .cta-component_illo {
      align-self: center;
    }
  }

  @media screen and (max-width:600px) {
    .cta-component {
      flex-direction: column;
    }

    .cta-component_copy {
      text-align: center;
    }

    .cta-component_illo {
      padding: 0;
    }
  }
</style>