<div>
  <div class="cta-component_bg">
    <div class="cta-component">
      <img src="./images/uxagustina-illo.png" alt="Illustration picturing a Agustina Feijoo working in her office.">

      <div class="cta-component_copy">
        <h2>Let's talk</h2>
        <p>I always love hearing from other professionals, if you want to connect or talk about work, I’m always a message away!</p>
        <a href="mailto:uxagustina@gmail.com?subject=Contact from website" class="button-primary">Email me</a>
      </div>
    </div>
  </div>
</div>

<style>
  .cta-component_bg {
    background-color: var(--color-light-grey);
    border-radius: 0.5rem;
    padding: 3rem 10rem;
    position: relative;
    bottom: 70;
    width: 100vw;
    max-width: 93.75rem;
    margin-left: -100px;
    margin-bottom: 6rem;
  }

  .cta-component {
    display: flex;
    justify-content: space-around;
  }

  .cta-component img {
    max-width: 18.5rem;
  }

  .cta-component_copy {
    max-width: 45rem;
  }

  .cta-component_copy p {
    margin-bottom: 4rem;
  }
</style>