<div class="skills-component" id="skills">
  <div class="skills-background">
    <h2>Skills</h2>
    <p style="margin: 4rem 0;">
      I consider myself to be a <strong>T-shaped professional</strong>, which can be described as someone having <strong>deeper professional experience in a specific field</strong>, while at the same time being somwhat of a <strong>generalist</strong>.
    </p>
    <img src="./images/skills-graph.svg" alt="A graph describing Agustina Feijoo skills.">
  </div>
  <p>If you want to learn about my complete <strong>UX Design process</strong>, please <a href="https://medium.com/@agusfeijoo/comprehensive-description-of-my-design-process-6c004f2970f8">read this article</a>.</p>
</div>

{{> divider}}


<style>
  .skills-background {
    background-color: var(--color-light-grey);
    border-radius: 0.5rem;
    padding: 3rem 8rem;
    margin-bottom: 3rem;
  }

  .skills-component {
    text-align: center;
    margin-bottom: 8rem;
  }
</style>